<div id="chat" class="max-w-[300px] fixed right-2 bottom-2 p-4 bg-white border border-gray-300 rounded-xl">
  <div id="chat_icon">
    <button id="chat_open" class="w-[50px] flex items-center text-rose-600">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
        class="text-rose-600">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
    </button>
  </div>

  <div id="chat_welcome" class="hidden">
    <input type="text" name="name" class="w-full mb-4 py-2 px-6 rounded-xl bg-gray-100" placeholder="Your name..." />
    <button id="chat_join" class="py-2 px-6 rounded-xl text-white bg-rose-600">
      Join chat
    </button>
  </div>
  <div id="chat_room" class="hidden">
    <div id="chat_log" class="mb-4 p-4 bg-gray-100 rounded-xl h-[300px] overflow-y-scroll">
      <p>
        Welcome to our chat please type Your message and wait for an agent to
        join
      </p>
    </div>
    <input type="text" name="body" id="chat_message_input" class="w-full mb-4 p-4 bg-gray-100 rounded-xl"
      placeholder="Type you message..." />
    <button id="chat_message_submit" class="py-2 px-6 bg-rose-600 text-white rounded-xl">
      Send
    </button>
  </div>
</div>
